<!DOCTYPE html>
<html lang="en">

	<head>

		<%- include(`${partialsDir}/meta`) %>
		<link href="/styles/guild/add.css" rel="stylesheet" type="text/css">

		<title>Alan.</title>
	</head>

	<body>
		
		<div id="main-content">

			<form id="config-form" method="post" action="/guild/add">

				<div id="config-form-header">

					<img id="server-icon" src="<%- `${(locals.guild.iconURL() ? locals.guild.iconURL() : '/images/favicon.svg')}` %>">
					<h id="server-name"><%- locals.guild.name %></h>
				</div>

				<label for="guild-id-input">Guild ID</label>
				<input id="guild-id-input" name="guildId" value="<%- locals.guild.id %>" readonly required>

				<label for="region-select">Region</label>
				<select id="region-select" name="region" required>

					<option value="-11">UTC-11:00</option>
					<option value="-10">UTC-10:00</option>
					<option value="-9">UTC-09:00</option>
					<option value="-8">UTC-08:00</option>
					<option value="-7">UTC-07:00</option>
					<option value="-6">UTC-06:00</option>
					<option value="-5">UTC-05:00</option>
					<option value="-4">UTC-04:00</option>
					<option value="-3">UTC-03:00</option>
					<option value="-2">UTC-02:00</option>
					<option value="-1">UTC-01:00</option>
					<option value="0" selected>UTC+00:00</option>
					<option value="1">UTC+01:00</option>
					<option value="2">UTC+02:00</option>
					<option value="3">UTC+03:00</option>
					<option value="4">UTC+04:00</option>
					<option value="5">UTC+05:00</option>
					<option value="6">UTC+06:00</option>
					<option value="7">UTC+07:00</option>
					<option value="8">UTC+08:00</option>
					<option value="9">UTC+09:00</option>
					<option value="10">UTC+10:00</option>
					<option value="11">UTC+11:00</option>
					<option value="12">UTC+12:00</option>
				</select>

				<div>

					<input id="enable-log-channel-checkbox" name="enableLogChannel" type="checkbox">
					<label for="enable-log-channel-checkbox">Enable log channel <button type="button" title="The log channel can still be always be accessed via the website.">i</button></label>
				</div>

				<div>

					<input id="auto-channels-checkbox" name="enableAutoChannels" type="checkbox" checked>
					<label for="auto-channels-checkbox">Create dedicated channels for me <button type="button" title="The bot will generate its necessary channels.">i</button></label>
				</div>

				<div id="config-form-manual-channels-div">

					<div id="config-form-channel-select-div">

						<label for="alert-channel-select">Alert Channel</label>
						<select id="alert-channel-select" name="alertChannelId" required disabled>

							<% for (let channel of locals.channels) { %>
								
								<option value="<%- channel.id %>"><%- channel.id%> (<%- channel.name %>)</option>
							<% } %>
						</select>

						<label for="log-channel-select">Log Channel</label>
						<select id="log-channel-select" name="logChannelId" required disabled>

							<% for (let channel of locals.channels) { %>

								<option value="<%- channel.id %>"><%- channel.id%> (<%- channel.name %>)</option>
							<% } %>
						</select>
					</div>
					<div>

						<button id="config-form-manual-channels-refresh" type="button"><img class="refresh-icon" src="/images/icons/refresh.svg"></button>
					</div>
				</div>
				
				<button id="config-form-complete-button" type="submit">Complete</button>
			</form>
        </div>

		<script defer src="/scripts/guild/add.js"></script>
	</body>
</html>
